%p
  Inform you, that your ticket #
  %b= @ticket.refer
  was successfully created and waiting now for staff response. 
%h3 Your ticket:
%p  Subject: #{@ticket.subject.description}.
%p  Question: #{@ticket.question}.   
